<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Book Recommender System</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>
<style>
    .text-white {
        color: white;
    }

    .text-black {
        color: black;
    }

    .card {
        --bs-card-bg: black;
    }
    p {
        margin-left: 30px;
    }
</style>

<body style="background-color: black">
    <nav class="navbar" style="background-color: #00a65a">
        <p class="nav navbar-brand">  My Book Recommender</p>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/recommend">Recommend</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size: 50px">Top 50 Books</h1>
            </div>

            {% for i in range(book_name|length) %}
            <div class="col-md-3" style="margin-top: 50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{image[i]}}">
                        <h2 class="text-white">{{book_name[i]}}</h2>
                        <h4 class="text-white">{{author[i]}}</h4>
                        <h4 class="text-white">Votes - {{votes[i]}}</h4>
                        <h4 class="text-white">Rating - {{rating[i]}}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</body>

</html>
